.flex-item {
	border: 4px solid black;
	padding: 10px;
	flex: 1 1 0%;
}

.pages {
	list-style-type: none;
	padding: 0;
}
.pages li {
	display: inline-block;	
}
html, head {
	width: 100%;
}
body{
	background-color: rgba(198, 201, 191, 0.863);
	padding: 50px;
}
h1 {
	text-align: center;
}
main {
	text-align:center;
}	 

body {
    margin: 0; /* Remove default body margin */
    padding-top: 50px; /* Add padding to body equal to navbar height if using position: fixed/sticky */
}

.topnav {
    background-color: white; 
    overflow: hidden; 
    top: 0; 
}

.nav-list {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: flex-start; /* Align items to the start (left) */
    align-items: center; /* Vertically center the items */
}

.nav-list li a {
    display: block; 
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}	

